[submodule "backend"]
	path = backend
	url = https://github.com/kenshirou01/diving-sites-japan-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kenshirou01/diving-sites-japan-front.git
